<a href="{{ post.urlOut }}" aria-label="{{ post.title }} (quote)">
  <div class="card post-card card100" style="background-color: #{{ post.cardColour }}">
    <div class="card-content content is-vcentered">
      {% if post.icon %}
        <span class="icon is-large corner-icon is-overlay" style="color: #{{ post.iconColour }}" >
          <i class="{{ post.icon }}"></i>
        </span>
      {% endif %}
      {% if post.tags %}
        <span class="tags are-light are-normal">
          {% for tag in post.tags %}
            <span class="tag {{ post.tagColour }}">{{ tag }}</span>
          {% endfor %}
        </span>
      {% endif %}
      {{ post.content
      | replace: '<p', '<p class="quote"'
        }}
      </div>
    </div>
  </a>