<a href="{% if post.urlOut %}{{ post.urlOut }}{% else %}{{ post.url }}{% endif %}" aria-label="{{ post.title }} (Case study)">
<div class="card post-card is-clipped card100">
	{% if post.thumbnail %}
		{% if post.icon %}
			<div class="corner-icon is-overlay">
				<span class="icon is-large " style="color: #{{ post.iconColour }};">
					<i class="{{ post.icon }}"></i>
				</span>
			</div>
		{% endif %}
		<div class="card-image is-clipped ">
			<figure class="image is-clipped is-4by3">
				<img src="{{post.thumbnail}}?nf_resize=fit&w=2&h=2" data-echo="{{ post.thumbnail }}" alt="Thumbnail image for {{ post.title }}">
			</figure>
		</div>
	{% else %}
		<div class="card-content">
			<article class="message is-danger">
				<div class="message-body">
					⛔️ Missing thumbnail ⛔️
				</div>
			</article>
		</div>
	{% endif %}
	<div class="card-content">
		{% if post.tags %}
			<span class="tags are-light are-normal">
				{% for tag in post.tags %}
					<span class="tag {{ post.tagColour }}">{{ tag }}</span>
				{% endfor %}
			</span>
		{% endif %}
		{% if post.title %}
			<p class="title is-size-4">{{ post.title }}</p>
		{% endif %}
		{% if post.subtitle %}
			<p class="subtitle is-size-6">{{ post.subtitle | truncate: 180 }} <strong>Read more</strong></p>
		{% endif %}
		
	</div>
</div>
</a>