<div class="column is-three-quarters-tablet is-two-thirds-desktop  ">
	<h1 class="title is-1" style="color: #{{ page.titleColour }} ">{{ page.title }}</h1>
	<p class="subtitle is-8 is-italic" style="color: #{{ page.titleColour }} ">{{ page.subtitle }}</p>
	{% if page.heroTags %}
	<br>
	<h1 class="subtitle is-6" style="color: #{{ page.titleColour }}; margin-bottom: 0.5em;">My Role:</h1>
	<div class="tags are-normal">
		{% for heroTags in page.heroTags %}
		<span style="background-color: #{{page.titleColour}}; color: #{{page.heroBgColour}}"
			class="tag">{{ heroTags }}</span>
		{% endfor %}
		{% endif %}
	</div>
</div>