<div class="column is-8-desktop is-full-tablet">
	<p>{% include tags.html%}</p>
	<p class="title is-1 {{ page.titleColour }} ">{{ page.title }}</p>
	<p class="subtitle is-8 is-italic {{ page.titleColour }}">{{ page.subtitle }}</p>
	{% if page.visitButton %}
		<a class="button is-medium {{ page.buttonColour }}" href="{{ page.visitButton }}">Visit</a>
	{% endif %}
</div>
<div class="column column is-half-desktop is-full-tablet">
	<figure class="image">
		<img src="{{ page.featured-image }}">
	</figure>
</div>