<section id="about" class="section" style="background-color: #fff;">
	<div class="container">
<!-- 		<div class="columns">
			<div class="column">
				<h1 class="title">About</h1>
				<h2 class="subtitle">What this whole thing is about</h2>
			</div>
			<div class="column is-narrow">
				<p class="buttons">
					<a href="/assets/pdf/edbattistini18.pdf" class="button is-info is-medium" download="Edward-Battistini_Product-Designer.pdf">
						<span class="icon">
							<i class="fas fa-file-download"></i>
						</span>
						<span>Download my resume</span>
					</a>
				</p>
			</div>
		</div> -->
		<p class="is-hidden-mobile">
			<br>
			<br>
			<br>
		</p>
		{% for item in site.experience | sort: 'order' %}
			{% if item.status  %}
				<div class="columns is-8">
					<!-- here is the loop of posts -->
					<div class="column is-one-third">
						<h1 class="title is-size-1-mobile is-size-2-tablet is-size-1-desktop"> {{ item.title }}</h1>
					</div>
					<div class="column is-hidden-mobile is-hidden-tablet"></div>
					<div class="column is-two-thirds is-medium content">
						<p class="is-size-2 " style="margin-top: -0.4em;">{{ item.content | markdownify }}</p>
					</div>
				</div>
				<br>
				<br>
			{% else %}
			{% endif %}
		{% endfor %}
		<!-- here ends the loop -->
	</div>
</section>