
<figure class="image {% if include.size %}{{ include.size }}{% endif %}">
  <img src="{{ include.url }}" alt="{{ include.description }}">
                  {% if include.description %}
		<figcaption style="padding-bottom: 1em;"><sub>{{ include.description }}</sub></figcaption>
	{% endif %}
</figure>
