<nav class="navbar is-transparent">
	<div class="navbar-brand">
		{% if page.logo == "show" %}
		<a class="navbar-item" href="/">
			<svg width="40" height="40" viewBox="0 0 128 128">
				<path d="M107.312 0H76.9952L66.5541 24H0V52H54.3727L43.4965 77H0V104H31.7502L21.309 128H51.6259L62.067 104H128V77H73.8134L84.6896 52H128V24H96.871L107.312 0Z"
					fill="#1A1A1A" />
			</svg>
		</a>
		{% endif %}
		<div class="navbar-burger burger" data-target="navMenu">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- {{ page.url }} -->
	<div id="navMenu" class="navbar-menu">
		<div class="navbar-end">
			{% for item in site.data.nav-config.nav-items %}
			{% if item.url == page.url %}
				<a class="navbar-item is-size-7 is-active" href="{{ item.url }}">{{ item.title }}</a>
			{% else %}
			<a class="navbar-item is-size-7" href="{{ item.url }}">{{ item.title }}</a>
			{% endif %}
			{% endfor %}
			<p class="buttons navbar-item">
				<a href="/assets/pdf/edbattistini18.pdf" class="button is-info is-small"
					download="Edward-Battistini_Product-Designer.pdf">
					<span class="icon">
						<i class="fas fa-file-download"></i>
					</span>
					<span>Resume.pdf</span>
				</a>
			</p>
		</div>
	</div>
</nav>