<nav class="navbar is-mobile is-fixed-top" >
		<div class="navbar-end">
				<span class="navbar-item">
						<a class="button is-info is-small" href="{{ site.baseurl }}/#{{page.title | truncatewords: 1, ""}}" aria-label="Close contact form" >
						<span class="icon" style="color: #{{ page.heroBgColour }}">
							<i class="fas fa-times"></i>
						</span>
						</a>
					</span>
		</div>
	
</nav>