<nav class="navbar is-mobile is-black is-transparent is-fixed-top " >
	<span class="navbar-item dropdown is-hoverable">
		<a class="dropdown-trigger button {% if page.hero-colour %}{{ page.hero-colour }} {% else %} is-primary {% endif %} is-inverted" href="{{ site.baseurl }}/" aria-label="Close post back to post list" >
		<span class="icon">
			<i class="fas fa-times"></i>
		</span>
		</a>
	</span>
</nav>