<section id="work" class="section has-background-black">
	<div class="columns is-centered">
		<div class="column is-half-desktop is-two-thirds-tablet">
			<h1 class="title has-text-light" data-aos="fade-up">Latest</h1>
		</div>
	</div>
	<!-- here is the loop of posts -->
	<div class="columns is-multiline is-centered">
		{% assign myposts = site.posts | where: 'show', 'true' %}
		
		{% for post in myposts | limit:20 %}
		
		<div class="column is-one-quarter-desktop is-two-fourth-tablet"></div>
		<div id="{{post.title | truncatewords: 1, ""}}" class="column is-half-desktop is-two-thirds-tablet" data-aos="fade-up">
			<a href="{% if post.urlOut %}{{ post.urlOut }}{% else %}{{ post.url }}{% endif %}"
				aria-label="{{ post.title }} (Case study)">

				<div class="card has-background-black-ter post-card is-clipped">
					<div class="card-content columns">
						{% if post.thumbnail %}
						<div class="column">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{post.thumbnail}}?nf_resize=fit&w=2&h=2" data-echo="{{ post.thumbnail }}"
										alt="Thumbnail image for {{ post.title }}">
								</figure>
							</div>
						</div>
						{% else %}
						{% endif %}
					<div class="column">
						{% if post.tags %}
						<span class="tags">
							{% for tag in post.tags %}
							<span class="tag is-light {{ post.tagColour }}">{{ tag }}</span>
							{% endfor %}
						</span>
						{% else %}
						{% endif %}
						{% if post.title %}
						<p class="title is-size-4 has-text-light">{{ post.title }}</p>
						{% endif %}
						{% if post.subtitle %}
						<p class="subtitle is-size-6 has-text-light">{{ post.subtitle | truncate: 140 }} 
							<br><strong class="has-text-primary">Read</strong></p>
							<!-- {% include reading-time.html %} -->
						{% endif %}

					</div>
				</div>
		</div>
		</a>
	</div>
	<div class="column is-one-quarter"></div>
	{% endfor %}
	<!-- here ends the loop -->
	<!-- <div class="column is-one-quarter"></div>
	<div class="column"><a href="/work.html"><button class="button is-primary">See all work </button></a></div>
	<div class="column is-one-quarter"></div> -->

	</div>
</section>