<div class="columns">
  <div class="column is-one-fifth"></div>
  {% if page.previous.url %}
    <div class="column">
      <a href="{{page.previous.url}}" aria-label="{{page.previous.title}}">
        <div class="box ">
          <article class="media">
            <div class="media-left">
              <span class="icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
            </div>
            <div class="media-content">
              <div class="content">
                  <strong>Previous post</strong>
                  <br>
                  {{page.previous.title | truncatewords: 6}}
              </div>
            </div>
          </article>
        </div>
      </a>
    </div>
  {% else %}
    <div class="column"></div>
  {% endif %}
  {% if page.next.url %}
    <div class="column ">
      <a href="{{page.next.url}}" aria-label="{{page.next.title}}">
        <div class="box ">
          <article class="media">
            <div class="media-content">
              <div class="content has-text-right ">
                <p>
                  <strong>Next post</strong>
                  <br>
                  {{page.next.title | truncatewords: 6}}
                </p>
              </div>
            </div>
            <div class="media-right">
              <span class="icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span>
            </div>
          </article>
        </div>
    </a>
  </div>
  {% else %}
  <div class="column"></div>
  {% endif %}
  <div class="column is-one-fifth"></div>
</div>