<section id="work" class="section">
	<div class="container">
		<div class="columns">
			<div class="column">
				<h1 class="title">Projects</h1>
				<h2 class="subtitle">A sample of what I have done lately</h2>
			</div>
		</div>
		<br>
		<!-- here is the loop of posts -->
		<div class="post columns is-multiline is-variable is-6">
			{% for post in site.posts and post.show == true %}
				<div id="{{post.title | truncatewords: 1, ""}}" 
					class="column
					{% if post.card-size %}
						{{ post.card-size }} 
					{% else %} 
						is-half-tablet is-one-third-desktop is-one-quarter-fullhd  
					{% endif %}
					">
					{% if post.type == 'quote' %}
						{% include cardlayoutQuote.html %}

					{% elsif post.type == 'shot' %}
						{% include cardlayoutShot.html %}

					{% elsif post.type == 'video' %}
						{% include cardlayoutVideo.html %}

					{% else %}
						{% include cardlayoutDefault.html %}
					{% endif %}

				</div>
			{% endfor %}
			<!-- here ends the loop -->
		</div>
	</div>
</section>	