<section id="work" class="section">
	<div class="container">
		<div class="columns">
			<div class="column">
				<h1 class="title">Projects</h1>
				<h2 class="subtitle">A sample of what I have done lately</h2>
			</div>
		</div>
		<br>
		<!-- here is the loop of posts -->
		<div class="columns" style="overflow: scroll;">
			{% for post in site.posts and post.show == true %}
			<div id="{{post.title | truncatewords: 1, ""}}" class="column is-one-third">
				<a href="{% if post.urlOut %}{{ post.urlOut }}{% else %}{{ post.url }}{% endif %}"
					aria-label="{{ post.title }} (Case study)">
					<div class="card post-card is-clipped">
						<div class="card-content">
							{% if post.tags %}
							<span class="tags are-light are-normal">
								{% for tag in post.tags %}
								<span class="tag {{ post.tagColour }}">{{ tag }}</span>
								{% endfor %}
							</span>
							{% endif %}
							{% if post.title %}
							<p class="title is-size-4">{{ post.title }}</p>
							{% endif %}
							{% if post.subtitle %}
							<p class="subtitle is-size-6">{{ post.subtitle | truncate: 180 }} <strong>Read more</strong>
							</p>
							{% endif %}
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
			<!-- here ends the loop -->
		</div>
	</div>
</section>
