@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap');
@import url('https://rsms.me/inter/inter.css');


$family-sans-serif: 'Source Sans Pro','Inter', sans-serif;
$primary: #0F62F4 !default;
$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
$gap: 64px;

// // Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// // Update Bulma's global variables
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;

// // Update some of Bulma's component variables
// $control-border-width: 2px;
// $input-background-color: $beige-lighter;
//$input-border-color: transparent;
// $input-shadow: none;

@import "../node_modules/bulma/bulma.sass";
@import "layout";
@import "syntax";
@import "showcase";
@import "block-list";

$scheme-main: $black;
$scheme-invert: $white;